* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body,
section {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.start-overlay {
    position: fixed;
    z-index: 101;
}

.start-button {
    position: absolute;
    z-index: 102;
    top: 26rem;
    right: 51.3rem;
    width: 16rem;
    height: 55rem;
}

.close {
    display: none;
}

.start-button:hover,
.start-button:active {
    cursor: pointer;
    animation: jump 0.5s ease-out forwards;
}

.instruction_box {
    position: absolute;
    top: 0;
    right: 0;
}

.leg-1-container {
    position: absolute;
    top: 23rem;
    right: 43rem;
}

.leg-2-container{
    position: absolute;
    top: 23rem;
    right: 35rem;
}

.arm-1-container {
    position: absolute;
    top: 17rem;
    right: 13rem;
}

.arm-2-container {
    position: absolute;
    top: 17rem;
    right: 4.5rem;
}

.head-container {
    position: absolute;
    top: 37.5rem;
    right: 27rem;
}

.emblem-container {
    position: absolute;
    top: 13rem;
    right: 25.5rem;
}

.leg-1,
.leg-2,
.arm-1,
.arm-2,
.emblem {
    width: 18rem;    
    height: 24rem;
}

.head {
    width: 16rem;    
    height: 9rem;
}

.modal-end {    
    display: none;    
}

.show {
    display: fixed;
}

.end-overlay {
    position: absolute;
    z-index: 103;
    cursor: pointer;
}

.outro {
    height: 100%;
    visibility: hidden;
    display: flex;    
    justify-content: center;
    align-items: center;    
}

.logo {
    height: 15.18rem;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.2rem);
    }

    100% {
        transform: translateY(-0.3rem);
    }
}